<div id="food-background2">
<div class="container">
  <div class="text-center">
    <div >
      <img class="logo-image" src="<%= asset_path('rezqlogo.png') %>" alt="">
    </div>
      <div>
<%= simple_form_for @user, :url => create_path do |f| %>
  <%= f.input :first_name, placeholder: 'First Name' %>
  <%= f.input :last_name,placeholder: 'Last Name' %>
  <%= f.input :email, placeholder: 'Email' %>
  <%= f.input :phone_number, placeholder: 'Phone Number' %>
  <%= f.input :password, placeholder: 'Password' %>
  <%= f.button :submit, "Sign Up" %>
<% end %>
<h4><%=link_to "Back", login_path %></h4>
</div>
</div>
</div>
</div>


