  <div class="overlow-hidden">


    <div class="container text-center text-white">
      <div >
        <img class="logo-image-sm" src="<%= asset_path('rezqlogo.png') %>" alt="">
      </div>
      <h2 class="border-line">Add a Restaurant to your Queue.</h2>
<div class="text-left">
      <%= simple_form_for @cue, :url => queues_path do |f|%>
        <h4>Choose  restaurant</h4>
       <%= f.input :rests, :selected => ["Choose a Restaurant"], input_html: { class: 'input-class' }, collection: @dropdown_arr %> 
        <h4>Select a start date for your Queue</h4>
       <%= f.input :start_date, input_html: { class: 'input-class time-inputs' }  %>
       <h4>Select a end date for your Queue</h4>
       <%= f.input :end_date, input_html: { class: 'input-class time-inputs' }  %>
        <h4>Select a start time for your Reservation</h4>
       <%= f.input :start_time, input_html: { class: 'input-class time-inputs' }  %>
        <h4>Select an end time for your Reservation</h4>
       <%= f.input :end_time, input_html: { class: 'input-class time-inputs' }  %>
       <%= f.submit "Add Restaurant to your Queue",:class => "not-selected-item text-center expand-width" %>
     <% end %>
     </div>
     </div>
     </div>

